div.brand-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem solid black;
  padding: 2rem;
}

.user-profile-img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 0.1rem solid var(--nav-background);
}

div.brand-container,
div.logout-container {
  display: grid;
  place-items: center;
}

div.brand-logo span:first-of-type {
  width: 2rem;
  height: 2rem;
  background-color: var(--btn-color);
  border-radius: 0 100%;
  display: inline-block;
}

div.brand-logo span:last-of-type {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color: var(--btn-color);
  border-radius: 100% 0;
}

nav.nav-container {
  position: fixed;
  background-color: var(--nav-background);
  bottom: 0;
  width: 100%;
  padding: 0.5rem;
}

ul.nav-list {
  display: flex;
  justify-content: space-around;
}

li.nav-list-item a {
  color: var(--btn-color);
  font-size: var(--nav-font);
}

@media (min-width: 800px) {
  /* Header */
  div.brand-logo {
    display: flex;
    align-items: center;
    border-bottom: unset;
    padding: 0.5rem;
    width: 80%;
    position: fixed;
    top: 0;
    background-color: var(--nav-background);
    z-index: 1;
  }

  div.brand-container {
    margin-left: 3rem;
  }

  /* Nav */
  nav.nav-container {
    position: fixed;
    background-color: var(--primary-color);
    bottom: unset;
    width: unset;
    padding: 1.5rem;
    height: 40rem;
    margin-top: 1rem;
  }

  ul.nav-list {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
  }

  li.nav-list-item a {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 0.6rem;
    -webkit-gap: 0.6rem;
    padding: 0.3rem;
  }

  .brand-container h2 {
    color: var(--primary-color);
  }

  .logout-container {
    margin-right: 3rem;
  }

  .logout-container button,
  .logout-container {
    background-color: transparent;
    color: var(--primary-color);
  }
}
